<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.keepingatimeline.kat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:label="KAT"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainScreen"
            android:label="Kat Box"
            android:theme="@style/AppTheme.Toolbar">
            <intent-filter>
                <action android:name="com.keepingatimeline.kat.MainScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccountSettings"
            android:label="Account Settings">
            <intent-filter>
                <action android:name="com.keepingatimeline.kat.AccountSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Timelineshower"
            android:label="Timeline Shower">
            <intent-filter>
                <action android:name="com.keepingatimeline.kat.Timelineshower" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChangePassword"
            android:label="Change Password">
            <intent-filter>
                <action android:name="com.keepingatimeline.kat.ChangePassword" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".TimelineSettings"
            android:label="Timeline Settings">
            <intent-filter>
                <action android:name="com.keepingatimeline.kat.TimelineSettings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrationScreen"
            android:label="Sign_up">
            <intent-filter>
                <action android:name="com.keepingatimeline.kat.RegistrationScreen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>